## **LAB TASK** **2**

## Matplotlib

In [1]:
import matplotlib.pyplot as plt

## Numpy

In [2]:
import numpy as np

## List

In [14]:
my_list = [1, 2, 3, 4, 5,6,7,8,9,10]
print(my_list)  # Output: [1, 2, 3, 4, 2, 5]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
sum(my_list)

60

In [12]:
max(my_list)

10

In [13]:
min(my_list)

1

In [16]:
my_list.pop(3)

4

In [17]:
my_list.append(5)

In [18]:
sorted(my_list, reverse=True)

[10, 9, 8, 7, 6, 5, 5, 3, 2, 1]

In [19]:
sorted(my_list)

[1, 2, 3, 5, 5, 6, 7, 8, 9, 10]

## Tuple

In [21]:
my_tuple = (1, 2, 3, 4, 2)
print(my_tuple[-1])  # Output: 2
# my_tuple[1] = 5  # This will raise an error as tuples are immutable

new_list=list(my_tuple)
new_list.append(5)
new_tuple=tuple(new_list)
print(new_tuple)

2
(1, 2, 3, 4, 2, 5)

## Set

In [22]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

print("Set 1:", set1)
print("Set 2:", set2)

Set 1: {1, 2, 3, 4, 5, 6}
Set 2: {4, 5, 6, 7, 8, 9}

In [23]:
# Union of the two sets
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# Intersection of the two sets
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {4, 5, 6}

In [25]:
# Difference of set1 from set2
difference_set1_set2 = set1.difference(set2)
print("Difference (set1 - set2):", difference_set1_set2)

Difference (set1 - set2): {1, 2, 3}

In [27]:
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [28]:
set2.remove(4)
print(set2)

{5, 6, 7, 8, 9}

## Dictionary

In [26]:
# Difference of set2 from set1
difference_set2_set1 = set2.difference(set1)
print("Difference (set2 - set1):", difference_set2_set1)

Difference (set2 - set1): {8, 9, 7}

In [29]:
# Example of a dictionary
my_dict = {
    "name": "Ali",
    "age": 25,
    "city": "New York",
    "email":"abc@gmail.com",
    "phone": 1234567890
}



print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'abc@gmail.com', 'phone': 1234567890}

In [ ]:
my_dict

In [30]:
my_dict["country"] = "USA"
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'abc@gmail.com', 'phone': 1234567890, 'country': 'USA'}